.navbar {
    background-color: rgba(0, 0, 0, 1);
}

li.nav-item>a:hover {
    color: white;
}

li.link-active>a,
li.link-active>a:hover,
li.link-active>a:focus {
    color: white;
    border-bottom: 4px solid #cc202e;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none;
    box-shadow: none;
}