<div style="background-color: white; height: 100%;">
  <div class="container py-5">
  
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">
  
      <div class="form-group">
        <label for="email">Enter Email</label>
        <input id="email" class="form-control" type="email" formControlName="email">
      </div>
  
      <div class="form-group">
        <label for="password">Enter Password</label>
        <input id="password" class="form-control" type="password" formControlName="password">
      </div>
  
      <div class="form-group">
        <label for="passwordRepeated">Enter Password Again</label>
        <input id="passwordRepeated" class="form-control" type="password" formControlName="passwordRepeated">
      </div>
  
      <button class="btn btn-primary" type="submit">Register</button>
    </form>
  </div>
</div>