.footer {
    background-color: whitesmoke;
    color: darkslategray;
    text-align: center;
    width: 100%;
    font-family: "Karla", sans-serif;
}

.footer a {
    color: darkslategray;
}

.contact-info {
    width: 500px;
}