<div class="jumbotron bg-white py-4">
    <h1 class="display-4">Activity</h1>

    <div *ngIf="activity && loggedInUser; then loaded else loading"></div>

    <ng-template #loading>
        <span>Loading...</span>
    </ng-template>

    <ng-template #loaded>
        <div class="bg-white container-fluid">
            <button class="btn btn-link mb-1 mt-0" routerLink="/p/activities">Go Back
            </button>
            <button *ngIf="userIsExec()" class="btn btn-link mb-1 mt-0" routerLink="./attendance">Go to Attendance
                Page</button>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="">
                        <app-inline-edit (change)="handleActivityUpdate('title')" [(ngModel)]="activity.title"
                            label="Title" [required]="true" type="text" [disabled]="!userIsExec()">
                        </app-inline-edit>
                        <app-inline-edit (change)="handleActivityUpdate('description')"
                            [(ngModel)]="activity.description" label="Description" [required]="true" type="text"
                            [disabled]="!userIsExec()">
                        </app-inline-edit>
                        <app-inline-edit (change)="handleActivityUpdate('type')" [(ngModel)]="activity.type"
                            label="Type" [required]="true" type="text" [disabled]="!userIsExec()">
                        </app-inline-edit>
                        <app-inline-edit (change)="handleActivityUpdate('start')" [(ngModel)]="activity.start"
                            label="Start" [required]="true" type="datetime-local" [disabled]="!userIsExec()">
                        </app-inline-edit>
                        <app-inline-edit (change)="handleActivityUpdate('end')" [(ngModel)]="activity.end" label="End"
                            [required]="true" type="datetime-local" [disabled]="!userIsExec()">
                        </app-inline-edit>
                        <app-inline-edit (change)="handleActivityUpdate('fine')" [(ngModel)]="activity.fine"
                            label="Fine Amount ($)" [required]="true" type="number" [disabled]="!userIsExec()">
                        </app-inline-edit>
                    </div>
                </div>
            </div>

            <h3 class="mb-0">Required Members</h3>
            <div class="btn-group mb-2">
                <button class="btn btn-link" (click)="handleRequireAllMembers()">Require All</button>
                <button class="btn btn-link" (click)="handleRequireActiveMembers()">Require Actives</button>
                <button class="btn btn-link" (click)="handleRequireLiveIns()">Require Live-Ins</button>
                <button class="btn btn-link" (click)="handleRequirePledges()">Require Pledges</button>
                <button class="btn btn-link" (click)="handleUnRequireAllMembers()">Remove All</button>
            </div>
            <div class="" style="font-size: 14px;">
                <table class="table table-sm table-hover table-bordered">
                    <thead class="thead-light ">
                        <tr>
                            <th>Name</th>
                            <th>Notes</th>
                            <th>Attendance</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let rm of requiredMembers">
                            <td>{{rm.member.firstName}}<span *ngIf="rm.member.firstName !== rm.member.preferredName">
                                    ({{rm.member.preferredName}})</span></td>

                            <td>
                                <app-inline-edit (change)="handleMemberUpdate(rm, 'notes')" [(ngModel)]="rm.notes"
                                    label="" [required]="true" type="text" [disabled]="!userIsExec()">
                                </app-inline-edit>
                            </td>

                            <td style="width: 200px;">{{rm.status | titlecase}}<br><span
                                    *ngIf="rm.statusTime">({{getDateFromString(rm.statusTime)}})</span></td>

                            <td style="width: 200px;">
                                <div *ngIf="userCanEdit(rm.member.id)" class="" aria-label="Status buttons"
                                    style="display: block; margin: auto;">
                                    <button
                                        *ngIf="!userIsExec() && rm.status !== 'accepted' && rm.status !== 'in-review'"
                                        (click)="handleMemberStatusChange(rm.member.id, 'in-review')" type="button"
                                        class="btn btn-sm btn-primary">Check In</button>

                                    <button *ngIf="userIsExec() && rm.status !== 'accepted'"
                                        (click)="handleMemberStatusChange(rm.member.id, 'accepted')" type="button"
                                        class="btn btn-sm btn-primary">Accept</button>

                                    <button *ngIf="userIsExec() && rm.status !== 'rejected'"
                                        (click)="handleMemberStatusChange(rm.member.id, 'rejected')" type="button"
                                        class="btn btn-sm btn-danger">Reject</button>

                                    <button *ngIf="userIsExec() && rm.status !== 'excused'"
                                        (click)="handleMemberStatusChange(rm.member.id, 'excused')" type="button"
                                        class="btn btn-sm btn-secondary">Excuse</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <h3>Other Members</h3>
            <div class="" style="font-size: 14px;">

                <table class="table table-sm table-hover table-bordered">
                    <thead class="thead-light ">
                        <tr>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Living In</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let m of otherMembers">
                            <td>{{m.firstName}}<span *ngIf="m.firstName !== m.preferredName">
                                    ({{m.preferredName}})</span></td>

                            <td>{{m.chapterStatus}}</td>
                            <td>{{m.livingIn}}</td>

                            <td *ngIf="userIsExec()" style="width: 160px;">
                                <button *ngIf="userIsExec()" (click)="handleRequireMember(m)" type="button"
                                    class="btn btn-sm btn-primary">Require</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div *ngIf="userIsExec()">
                <div *ngIf="!deleteCheck">
                    <button class="btn btn-outline-danger" (click)="handleDeleteActivityCheck()">Delete
                        Activity</button>
                </div>
                <div *ngIf="deleteCheck" class="btn-group">
                    <button class="btn btn-primary" (click)="handleDeleteActivityCancel()">Cancel</button>
                    <button class="btn btn-danger" (click)="handleDeleteActivity()">Delete Activity</button>
                </div>
            </div>

        </div>
    </ng-template>
</div>