<div class="jumbotron">
  <h1 class="display-4">Parent Information</h1>
  <hr class="my-4">

  <div>
    <p>
      Fraternity Recruitment is a common occurrence for many students at the University of Illinois every semester.
      With 45 fraternities on campus and more than 3,100 men involved the University of Illinois has one of the largest
      Greek campuses in the country. As a parent it is very common for you to have questions and concerns about your
      son rushing a fraternity. We have attempted to compile a list of frequent questions from parents as well as a
      variety of resources to help you learn more about the process. If you have any further questions we strongly
      encourage you to contact our President, Vice President, or any Recruitment Chairman.
    </p>
    <hr class="my-4">

    <p>
      Wes Chan (Chapter President) | <a href="mailto: wesleyxchan@gmail.com">wesleyxchan@gmail.com</a>
      <br>
      Nick Letto (Head Recruitment) | <a href="mailto: nletto2@illinois.edu">nletto2@illinois.edu</a>
    </p>

    <hr class="my-4">

    <div>
      <a routerLink="/parents/faq/">Frequently Asked Questions</a>
      <br>
      <a routerLink="/parents/omegafi/">Pay Your Bill (OmegaFi)</a>
      <br>
      <a routerLink="/parents/helpful-links/">Helpful Links</a>
    </div>
  </div>
</div>