<div class="bg">
    <div class="container h-100 py-3">
        <h1 class="head display-3 align-middle rounded">Welcome to &Theta;&Chi;</h1>
        <div class="foot row align-items-end justify-content-around">
            <div class="col-sm">
                <a class="btn btn-light" role="button" routerLink="ui/about/rho-chapter-history">About Rho</a>
            </div>
            <div class="col-sm">
                <a class="btn btn-light" role="button" routerLink="ui/recruitment">Spring 2019 Rush</a>
            </div>
            <div class="col-sm">
                <a class="btn btn-light" role="button" routerLink="ui/about/national-history">National History</a>
            </div>
        </div>
    </div>
</div>