<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" [routerLink]="['home']">
    <img src="../../assets/thetachibrand.ico" height="40" class="d-inline-block pr-1" alt="">
    <span>Theta Chi</span>
  </a>

  <button class="navbar-toggler" type="button" (click)="toggleExpand()" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{ 'show': isExpanded }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="link-active">
        <a class="nav-link" routerLink="home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="link-active">
        <a class="nav-link" routerLink="about">About</a>
      </li>
      <!-- <li class="nav-item dropdown" routerLinkActive="link-active">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Involvement
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="involvement">Involvement</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->
      <li class="nav-item" routerLinkActive="link-active">
        <a class="nav-link" routerLink="parents">Parents</a>
      </li>
      <li class="nav-item" routerLinkActive="link-active">
        <a class="nav-link" routerLink="alumni">Alumni</a>
      </li>
      <li class="nav-item" routerLinkActive="link-active">
        <a class="nav-link" routerLink="join">Join Us!</a>
      </li>
    </ul>

    <div *ngIf="auth.user$ | async; then authenticated else guest">
      <!-- template will replace this div -->
    </div>

    <ng-template #guest>
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="link-active">
          <a class="nav-link" routerLink="register">Register</a>
        </li>
        <li class="nav-item" routerLinkActive="link-active">
          <a class="nav-link" routerLink="login">Login</a>
        </li>
      </ul>
    </ng-template>

    <ng-template #authenticated>
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="link-active">
          <a class="nav-link" routerLink="/p/account">Account</a>
        </li>
        <li class="nav-item" routerLinkActive="link-active">
          <a class="nav-link" routerLink="/p/announcements">Announcements</a>
        </li>
        <li class="nav-item" routerLinkActive="link-active">
          <a class="nav-link" routerLink="/p/attendance">Attendance</a>
        </li>
        <li class="nav-item" routerLinkActive="link-active">
          <a class="nav-link" routerLink="/p/calendar">Calendar</a>
        </li>
        <li class="nav-item" routerLinkActive="link-active">
          <a class="nav-link" routerLink="/p/orders">Orders</a>
        </li>
        <li class="nav-item" routerLinkActive="link-active">
          <a class="nav-link" routerLink="/p/messages">Messages</a>
        </li>
        <li class="nav-item" routerLinkActive="link-active">
          <a class="nav-link" routerLink="/p/polls">Polls</a>
        </li>
        <li class="nav-item" routerLinkActive="link-active">
          <a class="nav-link" routerLink="/p/settings">Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" (click)="logout()">Logout</a>
        </li>
      </ul>
    </ng-template>
  </div>
</nav>