<div class="jumbotron bg-white">
    <h1 class="display-4">Forgot Password</h1>
    <br>

    <div class="py-4">
        <form [formGroup]="resetPasswordForm" (ngSubmit)="submit()" autocomplete="on">
            <div class="form-group">
                <label for="email">Email:</label>
                <input id="email" name="email" type="email" formControlName="email" class="form-control">
            </div>
            <button *ngIf="!sent" type="submit" class="btn btn-primary">Send Password Reset Email</button>
            <button *ngIf="sent" type="submit" class="btn btn-primary">Send Password Reset Email Again</button>
            <button class="btn btn-link float-right" (click)="navToLoginPage($event)">Back to login page</button>
        </form>
    </div>
</div>