<div class="bg">
  <div class="container pt-4">
    <div class="jumbotron pb-5 pt-5">
      <h1 class="display-4">G.I. Theta Chi</h1>
      <hr class="my-4">
      <p>
        G.I. Theta Chi is Theta Chi’s annual event raising money for the USO. The USO, a non-nonprofit organization,
        offers
        all Americans a way to say thank you to our troops and their families through delivering highly valued
        programs,
        moral-boosting services and engaging entertainment. With 160 USO locations and nearly 9 million visits –
        today’s USO
        is always by their side.
        <br>
        <br>
        G.I. Theta Chi is a competitive event involving Illinois’ entire campus and the Champaign-Urbana community.
        Throughout the four days each team competes in military inspired competitions. G.I. Theta Chi is an event that
        will
        inspire friendly competition while raising money to support our military forces and their families.
      </p>

      <a href="http://thetachiuiuc.org/involvement/g-i-theta-chi/#">Donate to the USO</a>
      <br>
      <a href="https://www.uso.org/about">About the USO</a>
      <br>
      <a href="http://thetachiuiuc.org/involvement/g-i-theta-chi/#">Register a team</a>

      <p>
        <br>
        - Michael Tzeng (Philanthropy Chair) | <a href="mailto: mhtzeng2@illinois.edu">mhtzeng2@illinois.edu</a>
      </p>
      <hr class="my-4">

      <div>
        <h5>2017 - 7 Teams: AEΦ AOΠ AΞΔ ΔZ KKΓ ΦM (x2)</h5>
        <ul>
          <li>
            Raised $5300
          </li>
          <li>
            Hosted 1st Joint Philanthropy Dinner with AEΦ
          </li>
        </ul>

        <div>
          <div id="carousel2017" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner rounded" role="listbox">
              <div *ngFor="let image of images2017; let i = index" class="carousel-item" [class.active]="i == 0">
                <img src="{{assetLocation2017}}/{{image}}" alt="Event Image {{i}}">
              </div>
            </div>

            <a class="carousel-control-prev" href="#carousel2017" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel2017" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>

        <hr class="my-4">

      </div>
      <div>
        <h5>2016 - 8 Teams: AEΦ AOΠ AΓΔ AΞΔ ΔZ (x2) KKΓ (x2)</h5>
        <ul>
          <li>
            Raised $4300
          </li>
          <li>
            Made 22 Care Packages
          </li>
        </ul>

        <div>
          <div id="carousel2016" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner rounded" role="listbox">
              <div *ngFor="let image of images2016; let i = index" class="carousel-item" [class.active]="i == 0">
                <img src="{{assetLocation2016}}/{{image}}" alt="Event Image {{i}}">
              </div>
            </div>

            <a class="carousel-control-prev" href="#carousel2016" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel2016" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>

      <hr class="my-4">

      <div>
        <h5>2015 - 9 Teams: AOΠ AΦ (x2) AΞΔ ΔΔΔ ΔZ KKΓ ΣK ΦΣΣ</h5>
        <ul>
          <li>
            Raised $1800
          </li>
        </ul>

        <div>
          <div id="carousel2015" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner rounded" role="listbox">
              <div *ngFor="let image of images2015; let i = index" class="carousel-item" [class.active]="i == 0">
                <img src="{{assetLocation2015}}/{{image}}" alt="Event Image {{i}}">
              </div>
            </div>

            <a class="carousel-control-prev" href="#carousel2015" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel2015" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>

      <hr class="my-4">

      <div>
        <h5>2014 - 8 Teams: AOΠ AΓΔ AXO ΔΔΔ ΔZ ΠBΦ ΣK ΦΣΣ</h5>
        <ul>
          <li>
            Raised $1300
          </li>
        </ul>

        <div>
          <div id="carousel2014" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner rounded" role="listbox">
              <div *ngFor="let image of images2014; let i = index" class="carousel-item" [class.active]="i == 0">
                <img src="{{assetLocation2014}}/{{image}}" alt="Event Image {{i}}">
              </div>
            </div>

            <a class="carousel-control-prev" href="#carousel2014" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel2014" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>