<div class="jumbotron bg-white">
    <h1 class="display-4">Members</h1>
    <br>

    <div *ngIf="accounts | async; then loaded else loading"></div>

    <ng-template #loading>
        <span>Loading...</span>
    </ng-template>

    <ng-template #loaded>
        <div class="" style="font-size: 14px;">
            <table class="table table-sm table-hover table-bordered">
                <thead class="thead-light ">
                    <tr>
                        <th>UIN</th>
                        <th>Last</th>
                        <th>First</th>
                        <th>Middle</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Birthday</th>
                        <th>Hometown</th>
                        <th>NetID</th>
                        <th>Living In</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let acct of accounts | async" (click)="handleAccountClicked(acct.user.id)" style="cursor: pointer;">
                        <td>{{acct.member.uin}}</td>
                        <td>{{acct.member.lastName}}</td>
                        <td>{{acct.member.firstName}}<span *ngIf="acct.member.firstName !== acct.member.preferredName"> ({{acct.member.preferredName}})</span></td>
                        <td>{{acct.member.middleName}}</td>
                        <td>{{acct.member.phone}}</td>
                        <td>{{acct.member.email}}</td>
                        <td>{{acct.member.birthday}}</td>
                        <td>{{acct.member.hometown}}</td>
                        <td>{{acct.member.netId}}</td>
                        <td>{{acct.member.livingIn}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ng-template>
</div>