<div class="my-4">
    <h1 style="text-align:center">New Account Registration</h1>
</div>

<div class="container card py-4 mb-4">


    <form [formGroup]="registerForm" (ngSubmit)="register()">

        <h4>Personal Info</h4>
        <div class="form-group ml-4">
            <div class="form-group">
                <label for="preferredName">Preferred First Name</label>
                <input id="preferredName" name="preferredName" type="text" formControlName="preferredName"
                    class="form-control">
            </div>

            <div class="form-group">
                <label for="firstName">Legal First Name</label>
                <input id="firstName" name="firstName" type="text" formControlName="firstName" class="form-control">
            </div>

            <div class="form-group">
                <label for="lastName">Legal Last Name</label>
                <input id="lastName" name="lastName" type="text" formControlName="lastName" class="form-control">
            </div>

            <div class="form-group">
                <label for="middleName">Middle Name (optional)</label>
                <input id="middleName" name="middleName" type="text" formControlName="middleName" class="form-control">
            </div>

            <div class="form-group">
                <label for="phone">Phone Number</label>
                <input id="phone" name="phone" type="tel" formControlName="phone" class="form-control">
            </div>

            <div class="form-group">
                <label for="birthday">Birthday</label>
                <input id="birthday" name="birthday" type="date" formControlName="birthday" class="form-control">
            </div>

            <div class="form-group">
                <label for="hometown">Hometown (e.g. Bloomington, IL)</label>
                <input id="hometown" name="hometown" type="text" formControlName="hometown" class="form-control">
            </div>
        </div>

        <h4>School Info</h4>
        <div class="form-group ml-4">
            <div class="form-group">
                <label for="netId">NetId</label>
                <input id="netId" name="netId" type="text" formControlName="netId" class="form-control">
            </div>

            <div class="form-group">
                <label for="uin">UIN</label>
                <input id="uin" name="uin" type="text" formControlName="uin" class="form-control">
            </div>

            <div class="form-group">
                <label for="firstSemester">First Semester (e.g. Fall 2018):</label>
                <input id="firstSemester" name="firstSemester" type="text" formControlName="firstSemester" class="form-control">
            </div>

            <div class="form-group">
                <label for="lastSemester">Expected Last Semester (e.g. Spring 2022):</label>
                <input id="lastSemester" name="lastSemester" type="text" formControlName="lastSemester" class="form-control">
            </div>

            <div class="form-group">
                <label for="college">College (e.g. Grainger Engineering):</label>
                <input id="college" name="college" type="text" formControlName="college" class="form-control">
            </div>

            <div class="form-group">
                <label for="major">Major (e.g. Computer Science):</label>
                <input id="major" name="major" type="text" formControlName="major" class="form-control">
            </div>
        </div>

        <h4>Emergency Contact (EC) Info</h4>
        <div class="ml-4">
            <div class="form-group">
                <label for="ecFirstName">EC First Name:</label>
                <input id="ecFirstName" name="ecFirstName" type="text" formControlName="ecFirstName"
                    class="form-control">
            </div>

            <div class="form-group">
                <label for="ecLastName">EC Last Name:</label>
                <input id="ecLastName" name="ecLastName" type="text" formControlName="ecLastName" class="form-control">
            </div>

            <div class="form-group">
                <label for="ecRelation">EC Relation:</label>
                <input id="ecRelation" name="ecRelation" type="text" formControlName="ecRelation" class="form-control">
            </div>

            <div class="form-group">
                <label for="ecPhone">EC Phone Number:</label>
                <input id="ecPhone" name="ecPhone" type="text" formControlName="ecPhone" class="form-control">
            </div>

            <div class="form-group">
                <label for="ecEmail">EC Email:</label>
                <input id="ecEmail" name="ecEmail" type="text" formControlName="ecEmail" class="form-control">
            </div>

            <div class="form-group">
                <label for="ecNotes">EC Notes (e.g. "Don't call after 9pm."):</label>
                <input id="ecNotes" name="ecNotes" type="text" formControlName="ecNotes" class="form-control">
            </div>
        </div>


        <h4>Login Info</h4>
        <div class="ml-4">
            <div class="form-group">
                <label for="email">Non-School Email</label>
                <input id="email" name="email" type="email" formControlName="email" class="form-control">
            </div>

            <div class="form-group">
                <label for="password1">Password</label>
                <input id="password1" name="password1" type="password" formControlName="password1" class="form-control">
            </div>

            <div class="form-group">
                <label for="password2">Re-type Password</label>
                <input id="password2" name="password2" type="password" formControlName="password2" class="form-control">
            </div>
        </div>

        <div class="pb-3">
            <hr class="my-4">
            <button type="submit" class="btn btn-outline-primary btn-block float-right">Click to Register</button>
        </div>
    </form>
</div>