<div class="jumbotron bg-white">
  <h1 class="display-4">Upcoming Alumni Events</h1>
  <p class="lead">
    To all alumni of Rho Chapter: please feel free to contact the current Alumni Chair with any questions, comments,
    or
    concerns and keep your information up to date. We would love to add your information to our database to keep you
    updated on all events at Rho Chapter!
  </p>
  <hr class="my-4">
  <div>
    <h4>
      Dates
    </h4>
    <br>
    <p>
      Mom's Weekend – April 6th
      <br>
      <br>
      Founders Day – April 10th
      <br>
      <br>
      Initiation – April 13th
    </p>
    <hr class="my-4">
    <h4>
      Contact
    </h4>
    <br>
    <p>
      Clint Park (Alumni Chair) | <a href="mailto: clintsp2@illinois.edu">clintsp2@illinois.edu</a>
    </p>
  </div>
</div>
<app-footer></app-footer>