<!-- Member add form -->
<form [formGroup]="memberForm" (ngSubmit)="onSubmit()" class="bg-white p-2 rounded my-2">
  <!-- Personal Information -->
  <div formGroupName="personalInfo">
    <div class="form-row">
      <div class="form-group col">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control form-control-sm" id="firstName" formControlName="firstName">
      </div>
    </div>
    
    <div class="form-row">
      <div class="form-group col">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control form-control-sm" id="lastName" formControlName="lastName">
      </div>
    </div>
    
    <div class="form-row">
      <div class="form-group col">
        <label for="preferredName">Preferred Name</label>
        <input type="text" class="form-control form-control-sm" id="preferredName" formControlName="preferredName">
      </div>
    </div>
    
    <div class="form-row">
      <div class="form-group col">
        <label for="middleName">Middle Name</label>
        <input type="text" class="form-control form-control-sm" id="middleName" formControlName="middleName">
      </div>
    </div>
    
    <div class="form-row">
      <div class="form-group col">
        <label for="phone">Phone</label>
        <input type="text" class="form-control form-control-sm" id="phone" formControlName="phone">
      </div>
    </div>
    
    <div class="form-row">
      <div class="form-group col">
        <label for="email">Email</label>
        <input type="email" class="form-control form-control-sm" id="email" formControlName="email">
      </div>
    </div>
    
    <div class="form-row">
      <div class="form-group col">
        <label for="birthday">Birthday</label>
        <input type="date" class="form-control form-control-sm" id="birthday" formControlName="birthday">
      </div>
    </div>
    
    <div class="form-row">
      <div class="form-group col">
        <label for="hometown">Hometown</label>
        <input type="text" class="form-control form-control-sm" id="hometown" formControlName="hometown">
      </div>
    </div>
  </div>
  <!-- Chapter Information -->
  <div formGroupName="chapterInfo">
    <div class="form-row">
      <div class="form-group col">
        <label for="chapterStatus">Status</label>
        <input type="text" class="form-control form-control-sm" id="chapterStatus" formControlName="chapterStatus">
      </div>
    </div>
    
    <div class="form-row">
      <div class="form-group col">
        <label for="chapterPosition">Position</label>
        <input type="text" class="form-control form-control-sm" id="chapterPosition" formControlName="chapterPosition">
      </div>
    </div>
    
    <div class="form-row">
      <div class="form-group col">
        <label for="pledgeTerm">Pledge Term</label>
        <input type="text" class="form-control form-control-sm" id="pledgeTerm" formControlName="pledgeTerm">
      </div>
    </div>
    
    <div class="form-row">
      <div class="form-group col">
        <label for="pledgeClass">Pledge Class</label>
        <input type="text" class="form-control form-control-sm" id="pledgeClass" formControlName="pledgeClass">
      </div>
    </div>
    
    <div class="form-row">
      <div class="form-group col">
        <label for="initiationDate">Initiation Date</label>
        <input type="date" class="form-control form-control-sm" id="initiationDate" formControlName="initiationDate">
      </div>
    </div>
    
    <div class="form-row">
      <div class="form-group col">
        <label for="livingIn">Living In</label>
        <select class="form-control form-control-sm" id="livingIn" formControlName="livingIn">
          <option value="false">No</option>
          <option value="true">Yes</option>
        </select>
      </div>
    </div>
    
    <div class="form-row">
      <div class="form-group col">
        <label for="tuesdayHouseJob">Tuesday House Job</label>
        <select class="form-control form-control-sm" id="tuesdayHouseJob" formControlName="tuesdayHouseJob">
          <option value="false">No</option>
          <option value="true">Yes</option>
        </select>
      </div>
    </div>
    
    <div class="form-row">
      <div class="form-group col">
        <label for="thursdayHouseJob">Thursday House Job</label>
        <select class="form-control form-control-sm" id="thursdayHouseJob" formControlName="thursdayHouseJob">
          <option value="false">No</option>
          <option value="true">Yes</option>
        </select>
      </div>
    </div>
  </div>
  <!-- School Information -->
  <div formGroupName="schoolInfo">
    <div class="form-row">
      <div class="form-group col">
        <label for="uin">UIN</label>
        <input type="text" class="form-control form-control-sm" id="uin" formControlName="uin">
      </div>
    </div>
    
    <div class="form-row">
      <div class="form-group col">
        <label for="netId">NetID</label>
        <input type="text" class="form-control form-control-sm" id="netId" formControlName="netId">
      </div>
    </div>
    
    <div class="form-row">
      <div class="form-group col">
        <label for="schoolEmail">School Email</label>
        <input type="email" class="form-control form-control-sm" id="schoolEmail" formControlName="schoolEmail">
      </div>
    </div>
    
    <div class="form-row">
      <div class="form-group col">
        <label for="college">College</label>
        <input type="text" class="form-control form-control-sm" id="college" formControlName="college">
      </div>
    </div>
    
    <div class="form-row">
      <div class="form-group col">
        <label for="major">Major</label>
        <input type="text" class="form-control form-control-sm" id="major" formControlName="major">
      </div>
    </div>
    
    <div class="form-row">
      <div class="form-group col">
        <label for="classStanding">Class Standing</label>
        <input type="text" class="form-control form-control-sm" id="classStanding" formControlName="classStanding">
      </div>
    </div>
    
    <div class="form-row">
      <div class="form-group col">
        <label for="gpa">GPA</label>
        <input type="text" class="form-control form-control-sm" id="gpa" formControlName="gpa">
      </div>
    </div>
    
    <div class="form-row">
      <div class="form-group col">
        <label for="class">Class</label>
        <input type="text" class="form-control form-control-sm" id="class" formControlName="class">
      </div>
    </div>
    
    <div class="form-row">
      <div class="form-group col">
        <label for="schoolStartTerm">First Semester</label>
        <input type="text" class="form-control form-control-sm" id="schoolStartTerm" formControlName="schoolStartTerm">
      </div>
    </div>
    
    <div class="form-row">
      <div class="form-group col">
        <label for="schoolEndTerm">Last Semester</label>
        <input type="text" class="form-control form-control-sm" id="schoolEndTerm" formControlName="schoolEndTerm">
      </div>
    </div>

  </div>
  <!-- Emergency Contact Information -->
  <div formGroupName="ecInfo">
    <div class="form-row">
      <div class="form-group col">
        <label for="ecTitle">Title</label>
        <input type="text" class="form-control form-control-sm" id="ecTitle" formControlName="ecTitle">
      </div>
    </div>
    
    <div class="form-row">
      <div class="form-group col">
        <label for="ecFirstName">First Name</label>
        <input type="text" class="form-control form-control-sm" id="ecFirstName" formControlName="ecFirstName">
      </div>
    </div>
    
    <div class="form-row">
      <div class="form-group col">
        <label for="ecLastName">Last Name</label>
        <input type="text" class="form-control form-control-sm" id="ecLastName" formControlName="ecLastName">
      </div>
    </div>
    
    <div class="form-row">
      <div class="form-group col">
        <label for="ecRelation">Relation</label>
        <input type="text" class="form-control form-control-sm" id="ecRelation" formControlName="ecRelation">
      </div>
    </div>
    
    <div class="form-row">
      <div class="form-group col">
        <label for="ecPhone">Phone</label>
        <input type="text" class="form-control form-control-sm" id="ecPhone" formControlName="ecPhone">
      </div>
    </div>
    
    <div class="form-row">
      <div class="form-group col">
        <label for="ecEmail">Email</label>
        <input type="email" class="form-control form-control-sm" id="ecEmail" formControlName="ecEmail">
      </div>
    </div>
    
    <div class="form-row">
      <div class="form-group col">
        <label for="ecNotes">Notes</label>
        <input type="text" class="form-control form-control-sm" id="ecNotes" formControlName="ecNotes">
      </div>
    </div>
  </div>
    
  <div class="form-row">
    <div class="form-group col">
      <label for="notes">Notes</label>
      <input type="text" class="form-control form-control-sm" id="notes" formControlName="notes">
    </div>
  </div>
    

  <button type="submit" class="btn btn-primary" [disabled]="memberForm.valid">Add</button>
</form>