<div class="container-fluid bg">
  <div class="row h-50 align-items-end">
    <div class="col">
      <h1 class="head display-1 align-middle rounded py-3">Welcome to &Theta;&Chi;</h1>
    </div>
  </div>

  <div class="row h-50 justify-content-around align-items-end pb-5">
    <div class="col">
      <a class="btn btn-light py-2 px-5" role="button" routerLink="/about">About Rho</a>
    </div>
    <div class="col">
      <a class="btn btn-light py-2 px-5" role="button" routerLink="/join">Fall 2019 Rush</a>
    </div>
    <div class="col">
      <a class="btn btn-light py-2 px-5" role="button" routerLink="/login">Member Login</a>
    </div>
  </div>
</div>
<app-footer></app-footer>