<footer class="footer">

  <div class="d-flex justify-content-around align-items-center">
    <div class="p-2 bd-highlight">
      <div class="align-self-stretch">
        <div class="p-2 bd-highlight">
          <div class="navbar-expand ml-auto navbar-nav justify-content-around">
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="https://twitter.com/thetachi_UIUC" title="Twitter: Theta Chi Rho Chapter" target="_blank" rel="noopener">
                <i class="fa fa-twitter"></i>
              </a>
              <a class="nav-item nav-link" href="https://www.facebook.com/ThetaChiUniversityOfIllinois" title="Facebook: Theta Chi Rho Chapter"
                target="_blank" rel="noopener">
                <i class="fa fa-facebook"></i>
              </a>
              <a class="nav-item nav-link" href="https://www.instagram.com/thetachi.uiuc/" title="Instagram: Theta Chi Rho Chapter" target="_blank" rel="noopener">
                <i class="fa fa-instagram"></i>
              </a>
              <a class="nav-item nav-link" title="Contact Info" routerLink="/contacts">
                <i class="fa fa-envelope"></i>
              </a>
            </div>
          </div>
        </div>
        <a href="https://goo.gl/maps/JRpZLiY8SwH2" target="_blank" rel="noopener" style="text-decoration: none;">303 E John St, Champaign, IL 61820</a>
        <br>
        <i class="fa fa-copyright"></i> 1916-2020 &copy; Theta Chi Rho Chapter
      </div>
    </div>

  </div>
</footer>