<!-- <iframe
  src="https://calendar.google.com/calendar/embed?src=jem0uc9vivub6u1elm3vqhcrco%40group.calendar.google.com&ctz=America%2FChicago"
  style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe> -->

<!-- <button (click)="addEvent()">Add event</button> -->
<!-- <button (click)="getEvents()">Get events</button> -->
<div class="container">
  <app-add-event></app-add-event>
  <hr>
  <div>
    <div *ngFor="let event of events">
      <div>
        {{event.title}}
      </div>
    </div>
  </div>
</div>