<div class="container mt-3">
  <form>
    <div class="form-group">
      <select class="form-control" id="event" [(ngModel)]="selectedEvent" name="selectedEvent"
        (change)="selectedEventChanged()">
        <option [ngValue]="undefined" disabled>Select Event</option>
        <option *ngFor="let e of events" [ngValue]="e">[{{eventIsToday(e) ? 'Today' : e.startDateTime | date:'MM/dd/yyyy'}}] {{e.title}}</option>
      </select>
    </div>
  </form>

  <div *ngIf="selectedEvent">
    <hr>

    <div *ngIf="!selectedAttendance">
      <button class="btn btn-primary btn-block" (click)="createAttendance()">Create Attendance Form</button>
    </div>

    <div *ngIf="selectedAttendance">

      <div *ngFor="let ma of selectedAttendance.members" class="my-2">
        <div class="row">
          <div class="col-auto">
            <button class="btn custom-btn-excuse rounded py-2" type="button" data-toggle="collapse"
              attr.data-target="#collapseExcuse_{{ma.memberId}}" attr.aria-expanded="false"
              attr.aria-controls="collapseExcuse_{{ma.memberId}}">Excuse</button>
          </div>
          <div class="btn-group-toggle col" data-toggle="buttons">
            <label class="btn custom-btn rounded w-100 py-2"
              [ngClass]="{'green-bg-active': ma.attended, 'gray-bg-active': !ma.attended && (ma.excused || ma.excuse !== '')}">
              <input type="checkbox" checked autocomplete="off" (click)="toggleAttendance(ma)">
              <span [ngClass]="{'font-weight-bold': ma.required}">{{ma.lastName}}, {{ma.preferredName}}</span>
              
            </label>
          </div>
        </div>

        <div class="collapse" id="collapseExcuse_{{ma.memberId}}">
          <div class="card card-body mt-2 pb-0 pt-3">
            <div class="row">
              <div class="col">
                <textarea class="form-control mb-2" style="min-width: 280px;" id="excuse_{{ma.memberId}}" rows="3"
                  placeholder="Enter excuse..." name="excuse_{{ma.memberId}}" [(ngModel)]="ma.excuse"></textarea>
              </div>

              <div class="form-group col-auto">
                <div class="row">
                  <div class="col">

                    <select class="form-control" id="excused_{{ma.memberId}}" name="excused_{{ma.memberId}}"
                      [(ngModel)]="ma.excused">
                      <option [ngValue]="false">
                        Not Excused
                      </option>
                      <option [ngValue]="true">
                        Excused
                      </option>
                    </select>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col">
                    <button class="btn btn-outline-danger btn-block" type="button"
                      (click)="updateExcuse()">Update</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <button class="btn btn-outline-danger btn-block mb-2" (click)="deleteAttendance()">Delete Attendance Form</button>
    </div>
  </div>
</div>