.custom-btn {
  outline: none;
  box-shadow: none;
  border: none;
  color: darkslategray;
  background-color: #fff;
  border: solid 1px darkslategray;
  font-family: monospace;
  font-size: 16px;
}
.custom-btn-excuse {
  outline: none;
  box-shadow: none;
  border: none;
  color: #fff;
  background-color: lightslategray;
  border: solid 1px lightslategray;
  font-family: monospace;
  font-size: 16px;
}
.green-bg-active {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
}
.gray-bg-active {
  color: #fff;
  background-color: lightslategray;
  border-color: lightslategray;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

select {
  font-family: monospace;
  font-size: 14px;
}