<div class="mt-2">
  <div class="form-group">
    <label for="uin">Make sure box below is selected (blue outline) before swiping your card.</label>
    <input autofocus type="text" class="form-control" id="uin" aria-describedby="uin" (keydown.enter)="submitForm()"
      [(ngModel)]="uinInput">
  </div>

  <div class="my-2" *ngIf="outputMessage">
    <div>{{outputMessage}}</div>
  </div>

  <!-- <div *ngIf="people?.size">
    <hr>
    <div>
      <div class="row" *ngFor="let p of people | keyvalue">
        <div class="col-1">
          {{p.key}}
        </div>
        <div class="col">
          {{p.value}}
        </div>
      </div>
    </div>
  </div> -->
</div>