<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" [routerLink]="['home']">
    <img src="../../assets/thetachibrand.ico" height="40" class="d-inline-block pr-1" alt="">
    <span>Theta Chi</span>
  </a>

  <button class="navbar-toggler" type="button" (click)="toggleExpand()" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{ 'show': isExpanded }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="link-active">
        <a class="nav-link" routerLink="home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown" routerLinkActive="link-active">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          About
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/about">Letter From President</a>
          <a class="dropdown-item" routerLink="/about/rho-chapter-history">Rho History</a>
          <a class="dropdown-item" routerLink="/about/national-history">National History</a>
          <a class="dropdown-item" routerLink="/about/members">Active Members</a>
          <a class="dropdown-item" routerLink="/about/pledge-classes">Pledge Classes</a>
        </div>
      </li>
      <li class="nav-item dropdown" routerLinkActive="link-active">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Involvement
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/involvement/mission">Mission</a>
          <a class="dropdown-item" routerLink="/involvement/outside-of-rho">Outside of Rho</a>
          <a class="dropdown-item" routerLink="/involvement/campus">Campus</a>
          <a class="dropdown-item" routerLink="/involvement/social">Social</a>
          <a class="dropdown-item" routerLink="/involvement/gi-theta-chi">G.I. Theta Chi</a>
          <a class="dropdown-item" routerLink="/involvement/philanthropy">Philanthropy</a>
          <a class="dropdown-item" routerLink="/involvement/service">Service</a>
          <a class="dropdown-item" routerLink="/involvement/national-relations">National Relations</a>
        </div>
      </li>
      <li class="nav-item dropdown" routerLinkActive="link-active">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Parents
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/parents">Information</a>
          <a class="dropdown-item" routerLink="/parents/faq">FAQ</a>
          <a class="dropdown-item" routerLink="/parents/omegafi">How to Pay</a>
          <a class="dropdown-item" routerLink="/parents/helpful-links">Helpful Links</a>
        </div>
      </li>
      <li class="nav-item dropdown" routerLinkActive="link-active">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Alumni
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/alumni/events">Events</a>
          <a class="dropdown-item" routerLink="/alumni/notable-alumni">Notable Alumni</a>
        </div>
      </li>
      <li class="nav-item" routerLinkActive="link-active">
        <a class="nav-link" routerLink="rush">Rush Us!</a>
      </li>
    </ul>

    <!-- <div *ngIf="auth.user$ | async; then authenticated else guest">
    </div> -->
<!-- 
    <ng-template #guest>
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="link-active">
          <a class="nav-link" routerLink="login">Login</a>
        </li>
      </ul>
    </ng-template>

    <ng-template #authenticated>
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="link-active">
          <a class="nav-link" routerLink="/p/account">Account</a>
        </li>
        <li class="nav-item" routerLinkActive="link-active">
          <a class="nav-link" routerLink="/p/attendance">Attendance</a>
        </li>
        <li class="nav-item" routerLinkActive="link-active">
          <a class="nav-link" routerLink="/p/calendar">Calendar</a>
        </li>
        <li class="nav-item" routerLinkActive="link-active">
          <a class="nav-link" routerLink="/p/events">Events</a>
        </li>
        <li class="nav-item" routerLinkActive="link-active">
          <a class="nav-link" routerLink="/p/fine-reports">Fine Reports</a>
        </li>
        <li class="nav-item" routerLinkActive="link-active">
          <a class="nav-link" routerLink="/p/members">Members</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" (click)="logout()">Logout</a>
        </li>
      </ul>
    </ng-template> -->
  </div>
</nav>