<div class="jumbotron">
  <h1 class="display-4">Frequently Asked Questions</h1>
  <hr class="my-4">

  <div>
    <h6>
      "Why should my son join?"
    </h6>
    <p>
      Greek life is an immersive culture at the University of Illinois with countless opportunities, both
      professionally and academically. Not only will your son gain valuable networking experience from Theta Chi
      brothers who work for a myriad of different Fortune 500 companies, but he will also join a brotherhood where he
      will build friendships that will last a lifetime.
    </p>
  </div>
  <hr class="my-4">
  <div>
    <h6>
      "What is expected?"
    </h6>
    <p>
      Members of Rho Chapter are expected to exemplify the ideals and values of Theta Chi. This carries with them
      wherever they go: in classrooms, in the workplace, and around other members of the Greek community. Members are
      expected to exemplify the motto of Theta Chi, and to lend “An Assisting Hand” to all those in need, and uphold
      the virtues of Truth, Temperance, and Tolerance.
    </p>
  </div>
  <hr class="my-4">
  <div>
    <h6>
      "What leadership opportunities are there?"
    </h6>
    <p>
      Members of Rho Chapter are not only given the opportunity, but encouraged to run for leadership positions
      within the fraternity. These positions provide integral leadership, organizational, and communication skills that
      can be applied in the real world. We also encourage our brothers to seek the mutual benefit and improvement of
      all our members and strive to serve our country and fellow man.
    </p>
  </div>
  <hr class="my-4">
  <div>
    <h6>
      "How much will it cost?"
    </h6>
    <p>
      Theta Chi is one of the cheapest fraternal organizations on campus, yet with one of the most beautiful houses
      as well. We pride ourselves on our effective internal budgeting which helps to maximize membership benefits as
      well as involvement within the Greek community.
    </p>
  </div>
  <hr class="my-4">
  <div>
    <h6>
      "How will the fraternity affect my son's academics?"
    </h6>
    <p>
      Rho Chapter strives to maintain and uphold the maxim of Theta Chi “Alma Mater First and Theta Chi for Alma
      Mater”. The fraternity maxim is used to emphasize our commitment to the academic missions and integrity at the
      University of Illinois. We believe that our members share a lifelong responsibility to be active participants in
      campus affairs and be tolerant and encouraging of brothers that come from different majors, backgrounds, and
      experiences. Through our hard work, Rho Chapter has consistently remained in excellent academic standing with the
      university.
    </p>
  </div>
  <hr class="my-4">
  <div>
    <h6>
      "Are there live-in requirements?"
    </h6>
    <p>
      Yes, first year students are required to live-in their sophomore and junior year. This may seem a daunting
      commitment at first, but the immersion within the fraternity not only strengthens bonds with brothers, but it
      also provides a cost effective and unique living experience that is unparalleled to anything else.
    </p>
  </div>
</div>