<div class="container">
  <div class="title">
    <h1 class="display-4">Executive Board Members</h1>
    <hr class="my-4">
  </div>
  <div class="row justify-content-center">
    <div *ngFor="let member of boardMembers" class="element col-md-4 col-sm-6 col-12">
      <h3>{{member.preferredName === '' ? member.first : member.preferredName}} {{member.last}}</h3>
      <p>{{member.position}} | {{member.major}} | {{member.year}} | {{member.pledgeClass}} |
        {{member.email}}</p>
    </div>
  </div>

  <div class="title">
    <h1 class="display-4">Committee Chair Members</h1>
    <hr class="my-4">
  </div>
  <div class="row justify-content-center">
    <div *ngFor="let member of committeeMembers" class="element col-md-4 col-sm-6 col-12">
      <h3>{{member.preferredName === '' ? member.first : member.preferredName}} {{member.last}}</h3>
      <p>{{member.position}} | {{member.major}} | {{member.year}} | {{member.pledgeClass}} |
        {{member.email}}</p>
    </div>
  </div>

  <div class="title">
    <h1 class="display-4">Active Members</h1>
    <hr class="my-4">
  </div>
  <div class="row justify-content-center">
    <div *ngFor="let member of otherMembers" class="element col-md-4 col-sm-6 col-12">
      <h3>{{member.preferredName === '' ? member.first : member.preferredName}} {{member.last}}</h3>
      <p>{{member.position}} | {{member.major}} | {{member.year}} | {{member.pledgeClass}} |
        {{member.email}}</p>
    </div>
  </div>
</div>