div.vertical-text {
  margin-left: -85px;
  margin-right: -85px;
  width: auto;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg); /* Safari/Chrome */
  -moz-transform: rotate(-90deg); /* Firefox */
  -o-transform: rotate(-90deg); /* Opera */
  -ms-transform: rotate(-90deg); /* IE 9 */
  white-space: nowrap;
}

th {
  .vertical-text {
    height: 150px;
    line-height: 14px;
    padding-bottom: 20px;
    text-align: left;
  }
}
