<div class="jumbotron">
  <h1 class="display-4">Helpful Links</h1>
  <hr class="my-4">

  <div>
    Not only do we want your son to enjoy their college and fraternity experience, but we want you as parents to stay
    updated on the events of Theta Chi Rho Chapter.
    <br>
    <br>
    <a target="_blank" href="https://www.thetachi.org/">National HQ Website of Theta Chi</a>
    <br>
    <br>
    <a target="_blank" href="https://www.illinoisifc.com/">Interfraternity Council (IFC) at Illinois</a>
    <br>
    <br>
    <a target="_blank" href="https://odos.illinois.edu/">Office of the Dean of Students</a>
    <br>
    <br>
    <a target="_blank" href="http://thefraternityadvisor.com/greek-life-statistics/">Facts about going Greek</a>
  </div>
</div>