<div class="bg">
  <div class="container pt-4">
    <div class="jumbotron pb-5 pt-5">
      <h1 class="display-4">National Relations</h1>
      <hr class="my-4">
      <div>
        <p class="text">
          Theta Chi Rho Chapter was established April 8th, 1916. Since then, it has kept close relations with our
          national headquarters. Over the years, we have received numerous awards and medals for chapter excellence,
          with 5 Colley Awards and numerous other prestigious Theta Chi honors; however, our greatest accomplishment is
          our presence. For 100 years now, Rho Chapter has influenced men of all backgrounds, Greek Life, and the
          entire campus community. It is an honor to be recognized by our nationals as a centennial chapter.
        </p>

        <div class="mt-5 d-flex justify-content-around align-items-center flex-wrap">
          <img src="assets/involvement/national-relations/1.jpg" alt="Group picture" class="group-image my-1 rounded" />
          <img src="assets/involvement/national-relations/2.png" alt="Individual award" class="individual-image my-1 rounded" />
        </div>
      </div>
    </div>
  </div>
</div>