<div class="jumbotron">
  <h1 class="display-4">Contact Info</h1>
  <p class="lead">Email us with any general questions or inquiries or use our contact data. We would be happy to answer
    them.
    <br>
    If you
    have any personal questions please contact the emails below.
  </p>
  <hr class="my-4">
  <h4>
    President
  </h4>
  <p>
    Wes Chan | <a href="mailto: wesleyxchan@gmail.com">wesleyxchan@gmail.com</a>
  </p>
  <hr class="my-4">
  <h4>
    Recruitment
  </h4>
  <p>
    Nick Letto (Head) | <a href="mailto: nletto2@illinois.edu">nletto2@illinois.edu</a>
    <br>
    Mikey Stumpf (Support) | <a href="mailto: mstumpf3@illinois.edu">mstumpf3@illinois.edu</a>
    <br>
    Harrison Freeman (Support) | <a href="mailto: hjf3@illinois.edu">hjf3@illinois.edu</a>
  </p>
  <hr class="my-4">
  <h4>
    Web Admin
  </h4>
  <p>
    Jackson Wilson | <a href="mailto: jw35@illinois.edu">jw35@illinois.edu</a>
    <br>
    Please send bug reports and feature suggestions to the email above.
  </p>
  <hr class="my-4">
  <h4>
    Address
  </h4>
  <p>
    Theta Chi Fraternity
    <br>
    <a href="https://goo.gl/maps/JRpZLiY8SwH2" target="_blank" rel="noopener">
      303 E John St.
      <br>
      Champaign, IL 61820
    </a>
  </p>
</div>