<!-- <div class="member-container">
    <div class="header">
        <div class="avatar">
            <img src="assets/protected/no_avatar.png">
        </div>
        <div class="full-name">
            <h3>Jackson Wilson</h3>
        </div>
        <div class="edit-btn">
            <img src="assets/protected/edit_btn.png">
        </div>
    </div>

    <div>

    </div>
</div> -->

<!-- <div class="card">
    <img class="card-img-left" src="assets/protected/no_avatar.png" width="64px">
    <div class="card-body">
        <h5 class="card-title">Jackson Wilson</h5>
        <h6 class="card-subtitle mb-2 text-muted">Fall 2018 - Beta Iota</h6>
        <h6 class="card-subtitle mb-2 text-muted">Vice President</h6>
    </div>

</div> -->

<div class="container-fluid">
    <div class="card">
        <div class="card-horizontal">
            <div class="card-header pt-2">
                <img class="" src="assets/protected/no_avatar.png" alt="Card image cap" width="96px !important">
                <h5 class="card-title">Jackson Wilson</h5>
                <h6 class="card-subtitle mb-2 text-muted">Fall 2018 - Beta Iota</h6>
                <h6 class="card-subtitle mb-2 text-muted">Vice President</h6>
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            </div>
        </div>
    </div>
</div>