<!-- <img src="assets/about/rho-chapter-history/alma_matter.jpg" alt="Alma Matter" width="300"/> -->
<div class="jumbotron">
  <h1 class="display-4">Rho Chapter History</h1>
  <hr class="my-4">

  <div>
    <h4>
      O(RHO)GIN
    </h4>
    <p>
      In the second semester of the year of 1910, a local chapter of the brotherhood of Saint Andrews, organized as an
      Episcopal club, was established at Illinois. This club, formally known as “Trigon”, was intended to provide means
      of
      economical and beneficial intercourse to the students of the Episcopal faith. Through the efforts of Professors
      Dufour and Stoek, Dean Green, Mr. P. H. Dunn, and the Rev. Poland, the club was started successfully, and a
      constitution was adopted and a house rented on Springfield Avenue, in Urbana.
      <br>
      <br>
      When the semester began in the Fall of 1911, such difficulty was encountered in filling the house that it became
      necessary to take men who were not members of the Episcopal Church. The influence of these men materially changed
      the
      ideals and purposes of the organization. The status of the club, among the other organizations in the University,
      was
      at this time a very peculiar one indeed. In the eyes of the local Episcopalians, it was a church club; to the
      student
      body, it was virtually a fraternity; while the members themselves considered it nothing more than an incidental
      organization, loosely held together.
      <br>
      <br>
      The lack of close fellowship finally culminated in the withdrawal of eight of its members who wished to form a
      more
      “pretentious” social fraternity. These eight men formed a local fraternity by the name of Delta Omega, which in
      1915
      became the Illinois Chapter of Lambda Chi Alpha. Through poor management, “Trigon” fell into severe debt and with
      the
      loss of nearly half of its members, total dissolution, for a time, threatened its existence. Indeed, it was only
      through the persistent efforts of the remaining members that the organization was kept intact. After a careful
      and
      thorough reorganization, the name was changed to Pi Omicron, and to Arthur T. Thomas, Fred DuHadway, G. Edward
      Quick,
      Frank D. Garland, John N. Fetherstone, Merle F. Lummis, Kenneth B. Bush and Clyde C. Barr were responsible for Pi
      Omicron’s continuance. Through their hard work, they succeeded in securing a dozen or more new members, who
      joined
      in
      the Fall of 1912, and who willingly assumed the heavy responsibilities and obligations of the fraternity to such
      good
      purposes that its indebtedness was soon liquidated and Pi Omicron was placed on a firm financial basis. This
      financial relief made it possible in 1913 to leave the old location on Springfield Avenue and move into a more
      comfortable home at 916 West Green Street, Urbana, where the chapter remained until the Fall of 1919.
      <br>
      <br>
      A more specific idea may be gained of the purposes and ideals of Pi Omicron by reciting a few abstracts from its
      ritual and constitution. New members were elected by unanimous ballot in a meeting of all active members, upon
      the
      basis of manhood, congeniality, and scholastic ability. The result of such choosing manifests itself in the
      scholastic standing maintained by the group. Never during its existence did Pi Omicron place below sixth among
      the
      general fraternities at Illinois, the average being about third. Quoting further, Pi was given as the first
      letter
      of
      the Greek word Polimathias, meaning scholarship, and Omicron the first letter of the Greek word Omilia, meaning
      fellowship. These two words, fellowship and scholarship, symbolized the ideals of those that were later to become
      the
      Rho Chapter of Theta Chi.
    </p>
  </div>


  <br>
  <div>
    <h4>
      EARLY YEARS
    </h4>
    <p>
      In December 1915, after having been offered a charter, by a then small national fraternity, Pi Omicron decided to
      petition Theta Chi Fraternity. On April 8th, 1916, Pi Omicron was authorized by the Grand Chapter to organize and
      transact business as Rho Chapter of Theta Chi. However, it was not until May 20th of the same year that the
      official
      installation committee composed of Dr. Robert L. Irish, Alpha, ’89; F. V. Hugo, Epsilon, ’12; J. B. Wirt, Beta,
      ’15;
      L. B. Scott, Theta, ’15; and W. M. Stanton, Kappa, ’13, arrived to install the new chapter. On that same day, the
      Council of Administration of the University granted permission for the formation of the chapter and formally took
      recognition of it. At the same time, Rho was admitted to the Pan Hellenic Council now known as the
      Interfraternity
      Council of the University of Illinois.
      <br>
      <br>
      By the end of the school year of 1917, Rho began to feel the effects of World War I. The exodus of men to all
      branches of service began to show, as the University began to offer full credit to all students who took up some
      specific work of national defense. The full effect of the war was not felt, however, until the Spring of 1918. In
      September of that year, an S.A.T.C. Camp was established at Illinois. The old peace and quiet of the campus was
      no
      more. Every tradition that Illinois loved was upset. Changes almost revolutionary took their place. Changes of
      such
      nature naturally effected Rho Chapter. Its home was taken over by the government and given to a sorority, Kappa
      Kappa
      Gamma, in order that their home, in turn, might be used as a barracks. But even the new military spirit with its
      multitude of government regulations was not sufficient to kill the fraternity spirit in the fifteen or twenty men
      who
      made up the chapter. They rented and furnished a suite of rooms just off the campus and here all of the
      fraternity
      work was carried on. The numerous and complex problems seemed to instill in the members a new spirit of fight.
      All
      of
      them were determined that under no circumstances would Rho give up “ship,” even for a few months. With the
      dissolution of the S.A.T.C. on December 21, 1918, plans were made to again take up the work in their real home on
      West Green Street.
      <br>
      <br>
      In the Fall of 1919, school opened with an old time pep and spirit, though an increase of over 2000 students in
      the
      University had made conditions very crowded. Rho had anticipated the return of many of the boys who had been
      discharged from the Army and Navy and that gave rise to securing a new and larger home. It was at this time that
      Rho
      moved to 404 East John Street, Champaign.
      <br>
      <br>
      The Illinois Victory Homecoming in the Fall of 1919 was indeed a real affair. Many of the boys came back and
      talked
      over and lived again the good old days that used to be. Of the boys who were fortunate enough to be present on
      that
      occasion, none will soon forget the wonderful advances taken by Rho Chapter. It was then that the Theta Chi
      Alumni
      Association of Rho Chapter was formed and incorporated. Fred A. DuHadway was elected President, John J. Pieper –
      Secretary, and Frank D. Garland – Treasurer. This organization took the first step toward the realization of a
      dream:
      a fraternity home of their won. Shortly thereafter, a lot was purchased and in a short time paid for. It is on
      that
      exact spot that Rho’s new magnificent house stood, a monument to the untiring efforts of those loyal members and
      the
      first Theta Chi chapter owned house.
    </p>
  </div>

  <br>
  <!-- <img src="assets/about/rho-chapter-history/brick.jpg" alt="Brick of Theta Chi Fraternity" width="300" /> -->
  <div>
    <h4>
      50 YEARS OF PROSPERITY
    </h4>
    <p>
      For 56 years, Theta Chi was one of the most successful Greek and student organizations on campus. Rho was
      responsible
      for the upbringing of over 1000 men who not only contributed to the betterment of Theta Chi, but who also
      encompassed
      the its values and ideals by inspiring change in the campus community, providing an assisting hand, and being the
      physical embodiment of a resolute man. These 56 years are littered with great stories about Rho and everything
      that
      the chapter contributed to both locally and nationally. It would take a whole another website to go into any
      further
      detail about Rho’s success, but a general statement can be provided.
      <br>
      <br>
      In the early 70’s, Rho Chapter, after a few questionable events, went into debt once again. It was as if Rho was
      reliving the same story that occurred to them right at their origin. Unfortunately, Rho was not as lucky as
      before.
      On June 29th, 1972, our chapter was suspended.
    </p>
  </div>

  <br>
  <div>
    <h4>
      REBIRTH
    </h4>
    <p>
      The history of Rho Chapter from 1920 until the present is the history of growth, a consistent rock bottom
      foundation
      type of growth. The chapter went through a series of transformations in more recent history, starting with our
      hiatus
      from campus during the 1970s and 1980s, and with our recolonization in 1989. We are currently located at 303 E
      John
      St in a fraternity house big enough to accommodate our growing size. Our numbers have nearly reached the triple
      digits, and the chapter, as well as its members, have strived to succeed in all aspects of campus life. We
      currently
      have leaders on the InterFraternity Council, in addition to several other presidents and leaders of the campus.
      Rho
      chapter boasts being among the best of fraternities in philanthropy and recruitment, as well as maintaining a GPA
      above the all-men’s average. It is the goal of the current undergraduates to push forward and add to the legacy
      of
      Theta Chi Rho Chapter at the University of Illinois.
    </p>
  </div>
</div>