<div class="jumbotron mb-0">
  <h1 class="display-4">Letter from the President</h1>
  <p class="lead">Welcome to Theta Chi – Rho Chapter at the University of Illinois.</p>
  <blockquote class="blockquote text-justify">
    <hr class="my-4">
    <p>
      I, along with the rest of Rho Chapter, am excited to welcome you to our campus and fraternity. As a fraternity
      that
      has been at the University of Illinois for more than 100 years, Rho Chapter prides itself on our rich traditions
      and
      are pleased that you have decided to learn more about what it means to join our ranks as brothers. Theta Chi
      prides
      itself in providing an assisting hand to our community. The core of our involvement is centered on giving back to
      the
      campus and community around us. From events benefiting our veterans such as G.I. Theta Chi for the USO to hosting
      blood drives with the American Red Cross, our brothers aim to give as much back to the community as they can.
      <br>
      <br>
      The brothers at Rho Chapter are dedicated to becoming resolute men in and out of the classroom. We not only have
      regularly scheduled social events that keep brothers involved in the Greek system, but we also take our academics
      very seriously. This level of commitment to our academics has proved worthwhile as we currently have brothers and
      alumni of Rho Chapter employed by over 15 Fortune 500 companies.
      <br>
      <br>
      On behalf of Rho Chapter, I would like to, once again, welcome you to Theta Chi and the University of Illinois.
      As
      president, I welcome any and all questions – please do not hesitate to reach out or stop by our fraternity house
      (303
      East John Street) to meet the brothers.
      <br>
      <br>
      Fraternally,
    </p>
    <footer class="blockquote-footer"><cite title="Source Author">Wes Chan</cite></footer>
  </blockquote>
</div>