<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
  <a class="navbar-brand" routerLink="ui/">
    <img src="assets/thetachibrand_old.png" alt="Rho Chapter" width="205">
  </a>

  <button class="navbar-toggler" type="button" (click)="toggleExpand()" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{ 'show': isExpanded }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
        <a class="nav-link" (click)="collapse()" routerLink="ui/">Home</a>
      </li>
      <li class="nav-item dropdown" [routerLinkActive]='["link-active"]'>
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          About
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" (click)="collapse()" routerLink="ui/about">Letter From The President</a>
          <a class="dropdown-item" (click)="collapse()" routerLink="ui/about/rho-chapter-history">Rho History</a>
          <a class="dropdown-item" (click)="collapse()" routerLink="ui/about/national-history">National History</a>
          <a class="dropdown-item" (click)="collapse()" routerLink="ui/about/members">Members</a>
          <a class="dropdown-item" (click)="collapse()" routerLink="ui/about/pledge-classes">Pledge Classes</a>
        </div>
      </li>
      <li class="nav-item" [routerLinkActive]='["link-active"]'>
        <a class="nav-link" (click)="collapse()" routerLink="ui/recruitment">Recruitment</a>
      </li>
      <li class="nav-item dropdown" [routerLinkActive]='["link-active"]'>
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Involvement
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" (click)="collapse()" routerLink="ui/involvement/mission">Mission</a>
          <a class="dropdown-item" (click)="collapse()" routerLink="ui/involvement/outside-of-rho">Outside of Rho</a>
          <a class="dropdown-item" (click)="collapse()" routerLink="ui/involvement/campus">Campus</a>
          <a class="dropdown-item" (click)="collapse()" routerLink="ui/involvement/social">Social</a>
          <a class="dropdown-item" (click)="collapse()" routerLink="ui/involvement/gi-theta-chi">G.I. Theta Chi</a>
          <a class="dropdown-item" (click)="collapse()" routerLink="ui/involvement/philanthropy">Philanthropy</a>
          <a class="dropdown-item" (click)="collapse()" routerLink="ui/involvement/service">Service</a>
          <a class="dropdown-item" (click)="collapse()" routerLink="ui/involvement/national-relations">National Relations</a>
        </div>
      </li>
      <li class="nav-item dropdown" [routerLinkActive]='["link-active"]'>
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Alumni
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" (click)="collapse()" routerLink="ui/alumni/events">Alumni Events</a>
          <a class="dropdown-item" (click)="collapse()" routerLink="ui/alumni/notable-alumni">Notable Alumni</a>
        </div>
      </li>
      <li class="nav-item dropdown" [routerLinkActive]='["link-active"]'>
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Parents
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" (click)="collapse()" routerLink="ui/parents">Parents</a>
          <a class="dropdown-item" (click)="collapse()" routerLink="ui/parents/faq">Frequently Asked Questions</a>
          <a class="dropdown-item" (click)="collapse()" routerLink="ui/parents/omegafi">Pay Your Bill (OmegaFi)</a>
          <a class="dropdown-item" (click)="collapse()" routerLink="ui/parents/helpful-links">Helpful Links</a>
        </div>
      </li>
      <li class="nav-item" [routerLinkActive]='["link-active"]'>
        <a class="nav-link" (click)="collapse()" routerLink="ui/contacts">Contact Us</a>
      </li>
    </ul>
    <div class="navbar-expand ml-auto navbar-nav">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="https://twitter.com/thetachi_UIUC" title="Twitter: Theta Chi Rho Chapter" target="_blank" rel="noopener">
          <i class="fa fa-twitter"></i>
        </a>
        <a class="nav-item nav-link" href="https://www.facebook.com/ThetaChiUniversityOfIllinois" title="Facebook: Theta Chi Rho Chapter" target="_blank" rel="noopener">
          <i class="fa fa-facebook"></i>
        </a>
        <a class="nav-item nav-link" href="https://www.instagram.com/thetachi.uiuc/" title="Instagram: Theta Chi Rho Chapter" target="_blank" rel="noopener">
          <i class="fa fa-instagram"></i>
        </a>
      </div>
    </div>
  </div>
</nav>