<div class="bg">
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Pledge Classes</h1>
      <hr class="my-4">

      <div>
        <h4>Fall 2018 - Beta Iota</h4>
        <p class="lead">
          Initiates - Austin Harper, Brandon Li, Bryce Balonick, Ernesto Reyes, Garret Chan, Harrison
          Freeman, Jackson Wilson, Jared Kitchen, Kenan Patel, Mark Cho, Michael Tzeng, Nick Letto, Zach Poe
        </p>

        <div class="mt-5 d-flex justify-content-around align-items-center flex-wrap">
          <div class="picture">
            <img src="assets/about/pledge-classes/beta-iota/beta_iota_initiation.jpg" alt="Beta Iota Initiation Group Picture"
              class="group-image my-1 rounded" />
            <h6 class="caption">Initiation</h6>
          </div>
        </div>
      </div>

      <hr class="my-4">

      <div>
        <h4>Spring 2017 - Beta Theta</h4>
        <p class="lead">
          Initiates - Daniel McRen, Sean Santore, Paul Jeon, Enzo Yamada, Mitch Hayden, Seth Katz
        </p>

        <div class="mt-5 d-flex justify-content-around align-items-center flex-wrap">
          <div class="picture">
            <img src="assets/about/pledge-classes/beta-theta/beta_theta_initiation.jpg" alt="Beta Theta Initiation Group Picture"
              class="group-image my-1 rounded" />
            <h6 class="caption">Initiation</h6>
          </div>
        </div>
      </div>

      <hr class="my-4">

      <div>
        <h4>Fall 2017 - Beta Eta</h4>
        <p class="lead">
          Biddees - Andrew Hurley, Alex Gowaski, Billy Palivos, Griffin Bloyd, Luis Chaves, Nathaniel Jarnagin, Wesley
          Chan, Kyle McAlpine, Quinn Donavon, Austin Hooper, Jaime Almanza, Moses Diaz
        </p>
        <p class="lead">
          Initiates - Andrew Hurley, Alex Gowaski, Billy Palivos, Griffin Bloyd, Luis Chaves, Nathaniel Jarnagin,
          Wesley Chan, Kyle McAlpine
        </p>

        <div class="mt-5 d-flex justify-content-around align-items-center flex-wrap">
          <div class="picture">
            <img src="assets/about/pledge-classes/beta-eta/beta_eta_bid_day.jpg" alt="Beta Eta Bid Day Group Picture"
              class="group-image my-1 rounded" />
            <h6 class="caption">Bid Day</h6>
          </div>
          <div class="picture">
            <img src="assets/about/pledge-classes/beta-eta/beta_eta_initiation.jpg" alt="Beta Eta Initiation Group Picture"
              class="group-image my-1 rounded" />
            <h6 class="caption">Initiation</h6>
          </div>
        </div>
      </div>

      <hr class="my-4">

      <div>
        <h4>Spring 2016 - Beta Zeta</h4>
        <p class="lead">
          Biddees - Steven Faber, Kyle Dini, Mikey Stumpf, Charlie Allen, Nick Hittle, Clint Park, Ethan Li, Liam
          Carroll
        </p>
        <p class="lead">
          Initiates - Kyle Dini, Charlie Allen, Clint Park, Nick Hittle, Mikey Stumpf, Ethan Li, Liam Carroll
        </p>

        <div class="mt-5 d-flex justify-content-around align-items-center flex-wrap">
          <div class="picture">
            <img src="assets/about/pledge-classes/beta-zeta/beta_zeta_bid_day.jpg" alt="Beta Zeta Bid Day Group Picture"
              class="group-image my-1 rounded" />
            <h6 class="caption">Bid Day</h6>
          </div>
          <div class="picture">
            <img src="assets/about/pledge-classes/beta-zeta/beta_zeta_initiation.jpg" alt="Beta Zeta Initiation Group Picture"
              class="group-image my-1 rounded" />
            <h6 class="caption">Initiation</h6>
          </div>
        </div>
      </div>

      <hr class="my-4">

      <div>
        <h4>Fall 2016 - Beta Epsilon</h4>
        <p class="lead">
          Biddees - Patrick Reynolds, James Liberto, Codie Black, Markus Grasemann, Tony Mosele, Joey Mosele, Arun
          Sundaram, Drew Suchsland, Koh Shibazatki, Shane Donovan, Matthias Zajdela, George Schneider, Kyle Wallbaum,
          Billy Bowbin, Charlie Fell, Eli Olin, Barrett Neath, Henry Holm, Nikhil Mannem, Danny Stumpf, Ben Norgle,
          Cole Blackburn, Matt Price, Adam Furman, amd Kevin Dabrowski
        </p>
        <p class="lead">
          Initiates - Patrick Reynolds, James Liberto, Codie Black, Markus Grasemann, Tony Mosele, Joey Mosele, Arun
          Sundaram, Drew Suchsland, Koh Shibazatki, Shane Donovan, Matthias Zajdela, George Schneider, Kyle Wallbaum,
          Billy Bowbin, Charlie Fell, Eli Olin, Barrett Neath, Henry Holm, Nikhil Mannem, Danny Stumpf, Ben Norgle,
          Cole Blackburn, Matt Price, Adam Furman, amd Kevin Dabrowski
        </p>

        <div class="mt-5 d-flex justify-content-around align-items-center flex-wrap">
          <div class="picture">
            <img src="assets/about/pledge-classes/beta-epsilon/beta_epsilon_bid_day.jpg" alt="Beta Epsilon Bid Day Group Picture"
              class="group-image my-1 rounded" />
            <h6 class="caption">Bid Day</h6>
          </div>
          <div class="picture">
            <img src="assets/about/pledge-classes/beta-epsilon/beta_epsilon_initiation.jpg" alt="Beta Epsilon Initiation Group Picture"
              class="group-image my-1 rounded" />
            <h6 class="caption">Initiation</h6>
          </div>
        </div>
      </div>

      <hr class="my-4">

      <div>
        <h4>Spring 2015 - Beta Delta</h4>
        <p class="lead">
          Initiates - Mario Barenas, Aaron Carstens, Louis Holm, Sean Huang, Dom Lofrano
        </p>

        <div class="mt-5 d-flex justify-content-around align-items-center flex-wrap">
          <div class="picture">
            <img src="assets/about/pledge-classes/beta-delta/beta_delta_initiation.jpg" alt="Beta Delta Initiation Group Picture"
              class="group-image my-1 rounded" />
            <h6 class="caption">Initiation</h6>
          </div>
        </div>
      </div>

      <hr class="my-4">

      <div>
        <h4>Fall 2014 - Beta Gamma</h4>
        <p class="lead">
          Initiates - Matt Daniel, Noah Chisman, Charlie Brom, Eric Valuyev, Joey Szelina, Zach Boaz, Jason
          Wasiukiewicz, Jeff Choi, Corey Zeinstra, Andy Szelina, Christian Zielisnski, Jeremy Soriano, Min Lim, Thomas
          Harris
        </p>

        <div class="mt-5 d-flex justify-content-around align-items-center flex-wrap">
          <div class="picture">
            <img src="assets/about/pledge-classes/beta-gamma/beta_gamma_initiation.jpg" alt="Beta Gamma Initiation Group Picture"
              class="group-image my-1 rounded" />
            <h6 class="caption">Initiation</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>