<form>
    <div class="form-group">
        <label for="title">Event Title</label>
        <input type="text" class="form-control" id="title" placeholder="title">
    </div>
    <div class="form-group">
        <label for="description">Event Description</label>
        <textarea class="form-control" id="description" rows="3" placeholder="description"></textarea>
    </div>
    <div class="form-group">
        <label for="location">Event Location</label>
        <input type="text" class="form-control" id="location" placeholder="location">
    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="location">Event All Day</label>
            <select class="form-control" id="duration">
                <option>
                    Yes
                </option>
                <option selected>
                    No
                </option>
            </select>
        </div>
        <div class="form-group col-md-10">
            <label for="duration">Event Duration</label>
            <select class="form-control" id="duration">
                <option *ngFor="let duration of durations">
                    {{duration / 60}} hours ({{duration}} minutes)
                </option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="start">Event Start Time: {{selectedStartDateTime | date:'MM/dd/yy (EEE) h:mm a'}}</label>
            <div class="bg-white rounded mx-2 p-2">
                <dl-date-time-picker name="start" id="startDateTime" startView="day" maxView="year" minView="minute"
                    minuteStep="5" [(ngModel)]="selectedStartDateTime">
                </dl-date-time-picker>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="end">Event End Time: {{selectedEndDateTime | date:'MM/dd/yy (EEE) h:mm a'}}</label>
            <div class="bg-white rounded mx-2 p-2">
                <dl-date-time-picker name="end" id="endDateTime" startView="day" maxView="year" minView="minute"
                    minuteStep="5" [(ngModel)]="selectedEndDateTime">
                </dl-date-time-picker>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="category">Event Category</label>
            <select class="form-control" id="category">
                <option *ngFor="let cat of categories">{{cat}}</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="attendance">Event Attendance</label>
            <select class="form-control" id="attendance">
                <option *ngFor="let aLevel of attendanceLevels">{{aLevel}}</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="fine">Event Fine Amount</label>
            <input type="number" class="form-control" id="fine" min="0">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Add Event</button>
</form>