<div class="jumbotron">
  <h1 class="display-4">Contact Info</h1>
  <p class="lead">
    Please feel free to send a text or email to one of the brothers below with any general or personal questions.
    <br>
    We would be happy to answer them!
  </p>
  <hr class="my-4">
  <h4>
    President
  </h4>
  <p>
    Wesley Chan | <a href="tel://1-847-596-1645">(847) 596-1645</a> | <a
      href="mailto: wesleyxchan@gmail.com">wesleyxchan@gmail.com</a>
  </p>
  <hr class="my-4">
  <h4>
    Recruitment
  </h4>
  <p>
    Nick Letto | <a href="tel://1-248-408-3655">(248) 408-3655</a> | <a
      href="mailto: nletto2@illinois.edu">nletto2@illinois.edu</a>
  </p>
  <hr class="my-4">
  <h4>
    Web Chair
  </h4>
  <p>
    Jackson Wilson | <a href="tel://1-309-846-8652">(309) 846-8652</a> | <a href="mailto: jw35@illinois.edu">jw35@illinois.edu</a>
    <br>
    <small>Please send bug reports and feature suggestions to the email above.</small>
  </p>
  <hr class="my-4">
  <h4>
    Address
  </h4>
  <p>
    Theta Chi Fraternity
    <br>
    <a href="https://goo.gl/maps/JRpZLiY8SwH2" target="_blank" rel="noopener">
      303 E John St.
      <br>
      Champaign, IL 61820
    </a>
  </p>
</div>