<div class="jumbotron">
  <h1 class="display-4">Spring 2020 Rush Information</h1>
  <br>

  <div style="max-width: 675px">
    <table class="table table-sm table-hover">
      <caption>
        Most events start at 6pm @ the Chapter House
        <br>
        <a href="https://goo.gl/maps/JRpZLiY8SwH2" target="_blank" rel="noopener" style="text-decoration: none;">303 E
          John St,
          Champaign, IL 61820</a>
      </caption>
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Date</th>
          <th scope="col">Event</th>
          <th scope="col">Food</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>1/23 @ 6pm</td>
          <td>Meet and Greet</td>
          <td>Jimmy John's</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>1/30 @ 6pm</td>
          <td>Video Game Tourney</td>
          <td>Chipotle</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>2/2 @ 5pm</td>
          <td>Super Bowl!</td>
          <td>Little Caesars</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>2/4 @ 6pm</td>
          <td>Indoor Lawn Games (e.g. bags, spikeball, party games)</td>
          <td>TBD</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>9/5 @ 7pm</td>
          <td>TNF Season Opener: BEARS VS PACKERS!</td>
          <td>TBD</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>2/11 @ TBD</td>
          <td>Invite Only</td>
          <td>Steaks & Stogies</td>
        </tr>
      </tbody>
    </table>

  </div>

  <div>
    <h6>
      Looking to rush Theta Chi?
    </h6>
    <p>
      We as brothers of Rho seek well rounded, resolute men who strive to not only succeed academically,
      professionally, and socially, but also are committed to the betterment of our fraternity and its members.
      We are a unit. We pursue our own goals and support the goals of our brothers and our fraternity. To be a Theta
      Chi is to provide an assisting hand. Do you have what it takes to join the ranks as a brother of Theta Chi?
    </p>
  </div>

  <div>
    <h6>
      Feel free to contact our recruitment team with questions, or refer to the FAQ below.
    </h6>
    <p>
      Peter Wasz (Head Recruitment) | <a href="tel://1-248-408-3655">(248) 408-3655</a> | <a
        href="mailto: nletto2@illinois.edu">nletto2@illinois.edu</a>
      <br>
      Nick Letto (President) | <a href="tel://1-248-408-3655">(248) 408-3655</a> | <a
        href="mailto: nletto2@illinois.edu">nletto2@illinois.edu</a>
    </p>
  </div>

  <br>

  <div>
    <h5>Frequently Asked Questions</h5>
    <hr class="my-4">
    <h6>
      "Why should I join?"
    </h6>
    <p>
      Greek life is a timeless tradition at the University of Illinois with countless benefits, both social and
      professional. You will be given the opportunity to join a brotherhood and build bonds and friendships that last a
      lifetime. Joining Theta Chi means joining a tradition that is over 100 years old, a fraternity whose roots extend
      back to the very first fraternities on campus, and a brotherhood that is there for each and every one of its
      members.
    </p>
  </div>
  <hr class="my-4">
  <div>
    <h6>
      "Are there live-in requirements?"
    </h6>
    <p>
      Yes. First-year students are required to live-in their sophomore and junior year. This may seem long at first but
      the immersion within the fraternity will not only strengthen your bonds with other brothers, but will also
      provide a living experience that is unparalleled to anything else… Oh, and we have one of the nicest fraternity
      houses on campus. Did we mention that yet?
    </p>
  </div>
  <hr class="my-4">
  <div>
    <h6>
      "What leadership opportunities are there?"
    </h6>
    <p>
      Rho Chapter encourages all of our new members to run for positions within the house. These positions provide
      integral leadership, organizational, and communication skills that can be very useful once you graduate.
    </p>
  </div>
  <hr class="my-4">
  <div>
    <h6>
      "What is expected from me?"
    </h6>
    <p>
      Brothers of Rho Chapter are expected to exemplify the ideals and values of Theta Chi. This carries with you
      wherever you go: in the classroom, at philanthropy events, at sorority mixers, and even at work. Joining Rho
      Chapter will give you the tools and the people you need to learn and become the resolute man we all strive to be.
    </p>
  </div>
  <hr class="my-4">
  <div>
    <h6>
      "How will Theta Chi affect my academics?"
    </h6>
    <p>
      College can be one of the most daunting experiences a young man like yourself will go through. Theta Chi hopes to
      help all of our new members adjust to the academic rigors of college through scholarship reward systems, multiple
      study groups, and a variety of other tried-and-true methods. The brothers of Theta Chi come from a wide variety
      of majors and backgrounds, ranging from Finance and Economics, to Industrial Design and Kinesiology, to the many
      engineering practices within the College of Engineering.
    </p>
  </div>
  <hr class="my-4">
  <div>
    <h6>
      "How much will it cost?"
    </h6>
    <p>
      Theta Chi has one of the lowest dues on campus – as well as brand new chapter house. We pride ourselves on
      effective budgeting, which helps to maximize the benefits you get for joining, social events with sororities, and
      countless other on-campus opportunities such as intra-fraternity sports leagues and sorority philanthropy events.
    </p>
  </div>
</div>