<div class="jumbotron bg-white py-4">
    <h1 class="display-4">Activities</h1>
    <br>

    <div *ngIf="loggedInUser; then loaded else loading"></div>

    <ng-template #loading>
        <span>Loading...</span>
    </ng-template>

    <ng-template #loaded>

        <div class="mb-4">
            <button (click)="createNewActivity()" class="btn btn-outline-primary">Create New</button>
        </div>

        <h3>Today's</h3>
        <div class="mb-4">
            <span *ngIf="todaysActivities?.length === 0">none</span>
            <div *ngFor="let act of todaysActivities">
                <app-activity-card [activity]="act"></app-activity-card>
            </div>
        </div>
        
        <h3>Upcoming</h3>
        <div class="mb-4">
            <span *ngIf="upcomingActivities?.length === 0">none</span>
            <div *ngFor="let act of upcomingActivities">
                <app-activity-card [activity]="act"></app-activity-card>
            </div>
        </div>
        
        <h3>Past</h3>
        <div class="mb-4">
            <span *ngIf="pastActivities?.length === 0">none</span>
            <div *ngFor="let act of pastActivities" class="mb-1">
                <app-activity-card [activity]="act"></app-activity-card>
            </div>
        </div>
    </ng-template>
</div>